* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto', sans-serif;
}

.app {
    height: 100vh;
    overflow: hidden;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.app__content {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    padding: 20px;
    justify-content: center;
}

.main-container {
    border: 2px solid yellow;
    align-items: center;
    
    
}
.container {
    display: flex;
    align-items: center;
    border: 2px solid blue;
  }

img{
    margin: 3px 2px;
    width: 200px;

  }

















.debug .app__toolbar {
    color: white;
    
    border: 2px solid white;
}