* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto', sans-serif;
}

.app {
    height: 100vh;
    overflow: hidden;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.app__content {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    justify-content: center;
}

.main-container {
    display: flex;
    margin: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1500px;


}
.container {
    flex-direction: row;
    display: flex;
    margin: 2px;
    position: relative;
}

.container-aside {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {

}

img{
    width: 205px;
}

span {
    background-color: rgba(57, 73, 88, 0.5);
    color: white;
    position: absolute;
    bottom:10px;
    left: 0px;
}


.app__toolbar {
    background-color: #222222;
    color: white;
    font-size: 10px;
}

.aside-icons {
    font-size: 20px;
}

.left-options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mid-options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-options {
    background-color: #4A4A4A;
    color: red;
    display: flex;

}


li {
    margin: 3px;
}

ul, ol, menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
